<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Para obtener ayuda de  Ruby on Rails Tutorial ir a
  <a href="http://railstutorial.org/help">Rails Tutorial help page (pagina de ayuda)</a>.
  para obtener ayuda en esta aplicacion de ejemplo, ver
  <a href="http://railstutorial.org/book">Rails Tutorial book (libro del turorial rails)</a>.
</p>
